@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

.wrapper {
  width: 80%;
  background-color: #4c8d7c;
  margin: 50px auto;
  margin-top: -30px;
}

div.gallery {
  margin-top: 30px;
}

div.gallery ul {
  list-style-type: none;
  margin-left: 35px;
  background-color: #4c8d7c;
}

/* animation */
div.gallery ul li,
div.gallery li img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div.gallery ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 130px;
  height: 130px;
  margin: 5px;
  padding: 5px;
  background-color: #000000;
  z-index: 0;
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
div.gallery ul li:hover {
  z-index: 5;
}

/* Image is position nicely under li */
div.gallery ul li img {
  left: 0;
  top: 0;
  border: 1px solid #070707;
  padding: 5px;
  width: 80px;
  height: 80px;
  background: #020202;
}

div.gallery ul li img:hover {
  width: 100px;
  height: 100px;
  top: 65%;
  left: 65%;
}

p.attribution {
  font-family: "Consolas";
  color: #000;
  clear: both;
  text-align: center;
  line-height: 25px;
  padding-top: 30px;
}

p.attribution a {
  color: #4c8d7c;
}

/* Responsive hack */
@media only screen and (max-width: 1212px) {
  .wrapper {
    width: 100%;
    margin: 0;
  }
  .gallery ul li {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (max-width: 498px) {
  .wrapper {
    width: 100%;
  }

  div.gallery ul {
    list-style-type: none;
    margin: 0;
  }
}

.topic {
  width: 100%;
  text-align: left;
  font-weight: 600;
  margin-left: 16%;
  margin-top: 80px;
  margin-bottom: 50px;
  color: aliceblue;
  opacity: 0.4;
  font-size: 20px;
  font-family: "Reem Kufi Fun", sans-serif;
}
.skills {
  background-color: #4c8d7c;
  width: 100%;
}
