.boxxxx {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
  font-family: "Quicksand", sans-serif;
}

.project .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  max-width: 840px;
  margin-inline: auto;
  cursor: default;
}

.project .grid div {
  aspect-ratio: 0.01/0.01;
  padding: 30px;
  color: aliceblue;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  justify-content: start;
  background-color: #1b1b1d;
  border-radius: 20px;
  opacity: 0.5;
  transition: 0.5s;
  span {
    margin-bottom: 20px;
  }
  h3 {
    font-size: 25px;
    font-weight: 500;
  }
  h6 {
    font-size: 10px;
  }
  p {
    height: 50%;
    font-size: 12px;
    margin: 10px 0;
  }
  a {
    min-width: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      height: 10px;
    }
    span {
      height: 100%;
      margin-bottom: 0px;
      text-align: center;
    }
  }
}
.project .grid div:hover {
  transform: scale(1.1);
  opacity: 1;
}
.project .grid div img {
  height: 50px;
}

/* Responsive hack */
@media only screen and (max-width: 1212px) {
  .wrapper {
    width: 100%;
    margin: 0;
  }
  .gallery ul li {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (max-width: 498px) {
  .wrapper {
    width: 100%;
  }

  div.gallery ul {
    list-style-type: none;
    margin: 0;
  }
}

.topic {
  width: 100%;
  text-align: left;
  font-weight: 600;
  margin-left: 10%;
  margin-top: 80px;
  margin-bottom: 30px;
  color: aliceblue;
  opacity: 1;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}
@media only screen and (max-width: 999px) {
  .project .topic {
    width: 100%;
    text-align: left;
    font-weight: 600;
    margin-left: 10%;
    margin-top: 20px;
  }
}
.skills {
  width: 100%;
}

@media only screen and (max-width: 999px) {
  .skills {
    margin-top: -50px;
    overflow-x: hidden;
  }
  .project .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 24px;
    max-width: 840px;
    margin-inline: auto;
  }
  .project .grid div {
    overflow-y: scroll;
    margin: 0;
    opacity: 0.8;
    padding: 20px;
    span {
      margin-bottom: 20px;
    }
    h3 {
      font-size: 15px;
    }
    h6 {
      font-size: 8px;
    }
    p {
      height: 50%;
      font-size: 10px;
    }
    a {
      margin-top: 20px;
      min-width: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        height: 10px;
      }
      span {
        height: 100%;
        margin-bottom: 0px;
        text-align: center;
        font-size: 10px;
      }
    }

    .project .grid div img {
      height: 40px;
    }
  }
}
