blockquote.q-card {
  --padding: 1rem;
  --accent-color: rgb(243 243 243);
  --bg-color: #1b1b1d;
  --dot-color: rgba(0, 0, 0, 0.125);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(33 29 30);

  max-width: 40rem;
  margin-inline: auto;
  opacity: 0.7;
  padding: var(--padding);
  color: var(--text-color);
  font-weight: 600;
  background-color: var(--bg-color);
  display: grid;
  gap: 1rem;
  background-image: radial-gradient(
    circle,
    var(--dot-color) calc(25% - 1px),
    transparent 25%
  );
  background-size: 0.5rem 0.5rem;
  border-radius: 20px;

  .content {
    font-size: 15px;
  }
}

/* The quotation mark */
blockquote.q-card::before {
  --qHeight: 4rem;
  content: "";
  margin-left: calc(var(--padding) * -1);
  margin-top: calc(var(--padding) * -1);
  height: var(--qHeight);
  width: calc(var(--qHeight) * 1.1);
  background-image: radial-gradient(
      circle at bottom right,
      transparent calc(var(--qHeight) / 4 - 1px),
      var(--accent-color) calc(var(--qHeight) / 4) calc(var(--qHeight) / 2),
      transparent calc(var(--qHeight) / 2 + 1px)
    ),
    linear-gradient(var(--accent-color), var(--accent-color));
  background-size: calc(var(--qHeight) / 2) calc(var(--qHeight) / 2);
  background-position: top left, bottom left;
  background-repeat: space no-repeat;
}

blockquote.q-card > .author {
  color: var(--text-color-author);
  background-color: var(--accent-color);
  justify-self: end;
  font-size: 0.75em;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}
blockquote.q-card > .author::before {
  content: "- ";
}

@media only screen and (max-width: 999px) {
  blockquote.q-card .content {
    font-size: 10px;
  }
}
